name: C/C++ CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-and-test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Configure CMake Project
      run: |
        mkdir out_cmake
        cd out_cmake
        cmake ../src
    - name: Build CMake Project
      run: |
        cmake --build out_cmake --target install
    - name: Run tests on CMake build
      run: |
        cd out_cmake
        ctest --output-on-failure
    - name: Build with Respire
      env:
        PYTHONPATH: ${{github.workspace}}/out_cmake/package/python
      run: |
        python src/build.py -t package
    - name: Test with Respire
      env:
        PYTHONPATH: ${{github.workspace}}/out_cmake/package/python
      run: |
        python src/build.py -t all
